# 1. Để git kh theo dỗi thư mục alo
# Cách 1: alo và cách 2: alo/
alo


# 2. Bỏ qua tất cả các file có đuôi là .log
*.log


# 3. Bỏ qua my_file_3 nhưng vẫn giữ my_file_2 (Chỉ bỏ qua các file trong git repo)
/*.abc


# 4. Bỏ qua my_file_4 trong new_folder_2
new_folder_2/my_file_4.txt